header{
    font-family: Verdana;
    font-size: 14px;
    font-weight: bold;
}

div{
    border: 2px solid black;
}

.nav{
    display: inline-block;
}

.container{
    display: flex;
}

.logo{
    color: MediumAquamarine;
}

.column{
    display: flex;
}
